body {
  font-family: 'Roboto', sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  font-weight: 400;
  font-size: 12px;
  letter-spacing: 0.04em;
  line-height: 1.17;
  color: #52555f;
}

img.animate__animated.animate__hinge.css-2qe138 {
  position: relative;
  z-index: 0;
}